#body {
    display: flex;
    flex-direction: column;
    background: #DFF0ED
   
}
#form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#form fieldset {
    border: green solid;
    background: azure;
}

#form fieldset legend {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: blue;
}

.info {
    color: red;
    font-size: 18px;
}
#height {
    margin-left: 23px;
}
#weight {
    margin-left: 37px;
}

#calculate {
    padding: 5px;
    margin-left: 400px;
    border: red solid 2px;
    color: blue;
    font-style: italic;
    font-size: 19px;
}

#pic_cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#pic_cntr h2 {
    text-align: center;
    border: solid 2px green;
    padding: 5px 25px;
}
#pic_cntr img {
    width: 345px;
}